<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="DBMermasRecepcion.Properties.Settings.CvWmsProd2ConnectionString"
		 connectionString="Data Source=alerce;Initial Catalog=CvWmsProd2;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Connect Timeout=3600;Encrypt=False"
		 providerName="System.Data.SqlClient" />
		<add name="DBMermasRecepcion.Properties.Settings.CVT_DESAINTConnectionString"
		 connectionString="Data Source=alerce;Initial Catalog=CVT_DESAINT;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Connect Timeout=3600;Encrypt=False"
		 providerName="System.Data.SqlClient" />
		<add name="DBMermasRecepcion.Properties.Settings.SBO_CVTRADINGConnectionString"
		 connectionString="Data Source=alerce;Initial Catalog=SBO_CVTRADING;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Connect Timeout=3600;Encrypt=False"
		 providerName="System.Data.SqlClient" />
		<add name="DBMermasRecepcion.Properties.Settings.SBO_MMETROConnectionString"
		 connectionString="Data Source=alerce;Initial Catalog=SBO_MMETRO;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Encrypt=False"
		 providerName="System.Data.SqlClient" />
		<add name="DBMermasRecepcion.Properties.Settings.CVT_CONTROL_BIOConnectionString"
		 connectionString="Data Source=alerce;Initial Catalog=CVT_CONTROL_BIO;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Encrypt=False"
		 providerName="System.Data.SqlClient" />
		<add name="DBMermasRecepcion.Properties.Settings.CVT_WMS_SMMConnectionString"
		 connectionString="Data Source=alerce;Initial Catalog=CVT_WMS_SMM;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Encrypt=False"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>